In [1]:
# importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [3]:
filename= 'auto.csv'
df = pd.read_csv(filename,names = headers)

In [4]:
df.head(50)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18,8,307,130,3504,12,70,1,chevrolet chevelle malibu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18,8,318,150,3436,11,70,1,plymouth satellite,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,8,304,150,3433,12,70,1,amc rebel sst,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,17,8,302,140,3449,10.5,70,1,ford torino,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15,8,429,198,4341,10,70,1,ford galaxie 500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,14,8,454,220,4354,9,70,1,chevrolet impala,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,14,8,440,215,4312,8.5,70,1,plymouth fury iii,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,14,8,455,225,4425,10,70,1,pontiac catalina,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,15,8,390,190,3850,8.5,70,1,amc ambassador dpl,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,15,8,383,170,3563,10,70,1,dodge challenger se,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,14,8,340,160,3609,8,70,1,plymouth 'cuda 340,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,15,8,400,150,3761,9.5,70,1,chevrolet monte carlo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,8,455,225,3086,10,70,1,buick estate wagon (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,24,4,113,95,2372,15,70,3,toyota corona mark ii,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,22,6,198,95,2833,15.5,70,1,plymouth duster,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,6,199,97,2774,15.5,70,1,amc hornet,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,21,6,200,85,2587,16,70,1,ford maverick,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,27,4,97,88,2130,14.5,70,3,datsun pl510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,26,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,25,4,110,87,2672,17.5,70,2,peugeot 504,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,24,4,107,90,2430,14.5,70,2,audi 100 ls,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,25,4,104,95,2375,17.5,70,2,saab 99e,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,26,4,121,113,2234,12.5,70,2,bmw 2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,21,6,199,90,2648,15,70,1,amc gremlin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,10,8,360,215,4615,14,70,1,ford f250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,10,8,307,200,4376,15,70,1,chevy c20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11,8,318,210,4382,13.5,70,1,dodge d200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,9,8,304,193,4732,18.5,70,1,hi 1200d,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,27,4,97,88,2130,14.5,71,3,datsun pl510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,28,4,140,90,2264,15.5,71,1,chevrolet vega 2300,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,25,4,113,95,2228,14,71,3,toyota corona,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,25,4,98,?,2046,19,71,1,ford pinto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,19,6,232,100,2634,13,71,1,amc gremlin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,16,6,225,105,3439,15.5,71,1,plymouth satellite custom,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,17,6,250,100,3329,15.5,71,1,chevrolet chevelle malibu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,19,6,250,88,3302,15.5,71,1,ford torino 500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,18,6,232,100,3288,15.5,71,1,amc matador,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,14,8,350,165,4209,12,71,1,chevrolet impala,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,14,8,400,175,4464,11.5,71,1,pontiac catalina brougham,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,14,8,351,153,4154,13.5,71,1,ford galaxie 500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,14,8,318,150,4096,13,71,1,plymouth fury iii,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,12,8,383,180,4955,11.5,71,1,dodge monaco (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,13,8,400,170,4746,12,71,1,ford country squire (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,13,8,400,175,5140,12,71,1,pontiac safari (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,18,6,258,110,2962,13.5,71,1,amc hornet sportabout (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,22,4,140,72,2408,19,71,1,chevrolet vega (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,19,6,250,100,3282,15,71,1,pontiac firebird,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,18,6,250,88,3139,14.5,71,1,ford mustang,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# replace ? to NaN
df.replace('?' , np.nan,inplace = True)

In [6]:
df.head(50)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18,8,307,130,3504,12,70,1,chevrolet chevelle malibu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18,8,318,150,3436,11,70,1,plymouth satellite,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,8,304,150,3433,12,70,1,amc rebel sst,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,17,8,302,140,3449,10.5,70,1,ford torino,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15,8,429,198,4341,10,70,1,ford galaxie 500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,14,8,454,220,4354,9,70,1,chevrolet impala,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,14,8,440,215,4312,8.5,70,1,plymouth fury iii,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,14,8,455,225,4425,10,70,1,pontiac catalina,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,15,8,390,190,3850,8.5,70,1,amc ambassador dpl,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,15,8,383,170,3563,10,70,1,dodge challenger se,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,14,8,340,160,3609,8,70,1,plymouth 'cuda 340,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,15,8,400,150,3761,9.5,70,1,chevrolet monte carlo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,8,455,225,3086,10,70,1,buick estate wagon (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,24,4,113,95,2372,15,70,3,toyota corona mark ii,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,22,6,198,95,2833,15.5,70,1,plymouth duster,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,6,199,97,2774,15.5,70,1,amc hornet,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,21,6,200,85,2587,16,70,1,ford maverick,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,27,4,97,88,2130,14.5,70,3,datsun pl510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,26,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,25,4,110,87,2672,17.5,70,2,peugeot 504,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,24,4,107,90,2430,14.5,70,2,audi 100 ls,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,25,4,104,95,2375,17.5,70,2,saab 99e,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,26,4,121,113,2234,12.5,70,2,bmw 2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,21,6,199,90,2648,15,70,1,amc gremlin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,10,8,360,215,4615,14,70,1,ford f250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,10,8,307,200,4376,15,70,1,chevy c20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11,8,318,210,4382,13.5,70,1,dodge d200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,9,8,304,193,4732,18.5,70,1,hi 1200d,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,27,4,97,88,2130,14.5,71,3,datsun pl510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,28,4,140,90,2264,15.5,71,1,chevrolet vega 2300,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,25,4,113,95,2228,14,71,3,toyota corona,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,25,4,98,NaN,2046,19,71,1,ford pinto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,19,6,232,100,2634,13,71,1,amc gremlin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,16,6,225,105,3439,15.5,71,1,plymouth satellite custom,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,17,6,250,100,3329,15.5,71,1,chevrolet chevelle malibu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,19,6,250,88,3302,15.5,71,1,ford torino 500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,18,6,232,100,3288,15.5,71,1,amc matador,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,14,8,350,165,4209,12,71,1,chevrolet impala,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,14,8,400,175,4464,11.5,71,1,pontiac catalina brougham,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,14,8,351,153,4154,13.5,71,1,ford galaxie 500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,14,8,318,150,4096,13,71,1,plymouth fury iii,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,12,8,383,180,4955,11.5,71,1,dodge monaco (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,13,8,400,170,4746,12,71,1,ford country squire (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,13,8,400,175,5140,12,71,1,pontiac safari (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,18,6,258,110,2962,13.5,71,1,amc hornet sportabout (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,22,4,140,72,2408,19,71,1,chevrolet vega (sw),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,19,6,250,100,3282,15,71,1,pontiac firebird,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,18,6,250,88,3139,14.5,71,1,ford mustang,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
missing_data = df.isnull()
missing_data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
394,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
395,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
396,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
397,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True

In [8]:
missing_data1 = df.notnull()
missing_data1

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
394,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
395,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
396,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
397,True,True,True,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False