In [3]:
import pandas as pd 
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix 
from sklearn import preprocessing

In [5]:
df=pd.read_csv("apples_and_oranges.csv")
df.head()

   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange

In [10]:
x=df.iloc[:,:-1]
x.head()

   Weight  Size
0      69  4.39
1      69  4.21
2      65  4.09
3      72  5.85
4      67  4.70

In [8]:
y=df.iloc[:,-1]
y.head()

0    orange
1    orange
2    orange
3     apple
4    orange
Name: Class, dtype: object

In [11]:
l = preprocessing.LabelEncoder()   
y= l.fit_transform(y)
y

array([1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0], dtype=int64)

#